<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I enjoy focusing on one task at a time.<br><br>
				I’m willing to spend time solving problems that arise during the development process,<br>
				or implementing even the smallest details.<br><br>
				I know that hard work always pays off,<br>
				and I always strive to do my best in everything I take on.
            </p>
<!--             <p class="paragraph-text justify-text">
                한 가지 일에 몰두하는 것을 좋아합니다.<br>
				개발 과정에서 발생한 문제를 해결하거나, 디테일한 부분까지 구현해 내는 것에 기꺼이 시간을 투자합니다.<br>
				노력은 배신하지 않는다는 것을 잘 알고 항상 맡은 일에 최선을 다 하고자 합니다.<br>
			</p> -->
            <p class="paragraph-text justify-text">
                I post my projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>.<br>
				My resume and portfolio can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
