<div class="section-wrapper">
    <section class="section extra" id="extra">
        <div>
            <div class="section-heading" id="chat-text">Contact</div>
            <p class="paragraph-text justify-text">
                Email : <a href="mailto:{{ site.email }}" style="color: white;">{{ site.email }}</a><br>
				GitHub : <a href="https://github.com/{{ site.github_username }}" style="color: white;">{{ site.github_username }}</a>
            </p>
            <p class="paragraph-text justify-text">
                <a href="../assets/files/resume.pdf" style="color: white;">RESUME</a>, <a href="../assets/files/portfolio.pdf" style="color: white;">PORTFOLIO</a>
            </p>
			
            <div class="extra-links">
                <span class="hint--bottom bottom-link" aria-label="Email">
                    <a href="mailto:{{ site.email }}"><i class="head-icon fas fa-envelope"></i></a>
                </span>
<!--                 <span class="hint--bottom bottom-link" aria-label="PGP Key">
                    <a href="https://www.nagekar.com/publickey.abhishek@nagekar.com.asc"><i class="head-icon fas fa-key"></i></a>
                </span> -->
                <span class="hint--bottom bottom-link" aria-label="GitHub">
                    <a href="https://github.com/{{ site.github_username }}"><i class="head-icon fab fa-github"></i></a>
                </span>
            </div>
        </div>
    </section>
</div>